In [2]:
import pandas as pd
import numpy as np

In [3]:
ser = pd.Series([5,0,3,8,4], index=['red','blue','yellow','white','green'])
ser.index

Index(['red', 'blue', 'yellow', 'white', 'green'], dtype='object')

In [5]:
# index obj are immutable, once declared they canÂ´t be change
# methods on index
ser.idxmin() # returns the index of the lowest value

'blue'

In [6]:
ser.idxmax() # returns the index of the hightest value

'white'

In [7]:
ser['white']

8

In [9]:
ser[ser['green']]

4

In [12]:
#duplicated values
serd = pd.Series(range(6), index=['white','white','blue','green', 'green','yellow'])
serd

white     0
white     1
blue      2
green     3
green     4
yellow    5
dtype: int64

In [14]:
serd['white']

white    0
white    1
dtype: int64

In [17]:
serd[serd['white']]

white    0
white    1
dtype: int64

In [20]:
serd.index.is_unique

False

In [21]:
ser.index.is_unique

True

In [22]:
ser = pd.Series([2,5,7,4], index=['one','two','three','four']) # reindex
ser

one      2
two      5
three    7
four     4
dtype: int64

In [26]:
ser.reindex(['two','four','five','one']) #reindex modifica el orden, deletea o agregar rows, si pones indices random agrega NaN

two     5.0
four    4.0
five    NaN
one     2.0
dtype: float64

In [28]:
ser3 = pd.Series([1,5,6,3],index=[0,3,5,6])
ser3

0    1
3    5
5    6
6    3
dtype: int64

In [30]:
ser3.reindex(range(6), method='ffill')#As you can see from the result, the indexes that were not present in the original series
                                      #were added. By interpolation, those with the lowest index in the original series

0    1
1    1
2    1
3    5
4    5
5    6
dtype: int64

In [31]:
ser3.reindex(range(6), method='bfill')

0    1
1    5
2    5
3    5
4    6
5    6
dtype: int64

In [32]:
# dropping values
ser = pd.Series(np.arange(4.), index=['red','blue','yellow','white'])
ser

red       0.0
blue      1.0
yellow    2.0
white     3.0
dtype: float64

In [33]:
ser.drop('yellow')

red      0.0
blue     1.0
white    3.0
dtype: float64

In [34]:
ser.drop(['yellow','blue'])

red      0.0
white    3.0
dtype: float64

In [35]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)), index=['red','blue','yellow','white'],columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [39]:
frame.drop(['blue','yellow']) # por default elige rows

       ball  pen  pencil  paper
red       0    1       2      3
white    12   13      14     15

In [40]:
frame.drop(['ball','pen'], axis=1) # axis 1 equivale a columna

        pencil  paper
red          2      3
blue         6      7
yellow      10     11
white       14     15

In [41]:
# align index between df
s1 = pd.Series([3,2,5,1],['white','yellow','green','blue'])
s2 = pd.Series([1,4,7,2,1],['white','yellow','black','blue','brown'])

s1 + s2

black     NaN
blue      3.0
brown     NaN
green     NaN
white     4.0
yellow    6.0
dtype: float64

In [43]:
frame1 = pd.DataFrame(np.arange(16).reshape((4,4)),index=['red','blue','yellow','white'],columns=['ball','pen','pencil','paper'])
frame2 = pd.DataFrame(np.arange(12).reshape((4,3)), index=['blue','green','white','yellow'], columns=['mug','pen','ball'])

frame1 + frame2 #  al sumarlos quedan por fuera los valores que no compartes valor de columna y row, peras con peras , manzanas con manzanas

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN