In [17]:
import pandas as pd
import numpy as np

In [2]:
# pandas series - 1 dimensional array with an index and a set of values
s = pd.Series([12,-4,7,9])
s

0    12
1    -4
2     7
3     9
dtype: int64

In [4]:
# para modificar el indice se utiliza index=
s = pd.Series([12,-4,7,9], index=['a','b','c','d'])
s

a    12
b    -4
c     7
d     9
dtype: int64

In [5]:
# to compute the values and index separately 
s.values

array([12, -4,  7,  9], dtype=int64)

In [6]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
# acces index or value
print(s[0]) # value position
print(s['a'])# index name

12
12

In [12]:
s[0:2] # seleccionar un rango

a    12
b    -4
dtype: int64

In [13]:
s[['a','b']] # seleccionar dos indices en particular

a    12
b    -4
dtype: int64

In [14]:
s[1]=0 # cambia el valor de la posición 1
s

a    12
b     0
c     7
d     9
dtype: int64

In [16]:
s['b']=1 # se puede acceder con el nombre del índice
s

a    12
b     1
c     7
d     9
dtype: int64

In [20]:
arr = np.array([1,2,3,4])
s3 = pd.Series(arr, index=['a','b','c','d'])
s3

a    1
b    2
c    3
d    4
dtype: int32

In [21]:
# filtering values
s[s>8] # selecciona todos los valores de la serie que están por encima de 8

a    12
d     9
dtype: int64

In [22]:
#matematical operations (+, -, *, and /)
s/2

a    6.0
b    0.5
c    3.5
d    4.5
dtype: float64

In [23]:
np.log(s)

a    2.484907
b    0.000000
c    1.945910
d    2.197225
dtype: float64

In [24]:
serd = pd.Series([1,0,2,1,2,3], index=['white','white','blue','green',' green','yellow'])
serd

white     1
white     0
blue      2
green     1
 green    2
yellow    3
dtype: int64

In [25]:
serd.unique() # funcion para seleccionar valores únicos

array([1, 0, 2, 3], dtype=int64)

In [26]:
serd.value_counts() # selecciona valores únicos y cuenta la ocurrencia de c/u

2    2
1    2
3    1
0    1
dtype: int64

In [28]:
serd.isin([0,3]) # func busca en la serie los valores 0 y 2

white     False
white      True
blue      False
green     False
 green    False
yellow     True
dtype: bool

In [30]:
serd[serd.isin([0,3])] # selecciona solamente los valores que son True- devuelve valor e index

white     0
yellow    3
dtype: int64

In [31]:
#Nan Values (Not a Number)- isnull() notnull()- identifican valores sin valor
s2 = pd.Series([5,-3,np.NaN,14])
s2.isnull() # devuelve los null values

0    False
1    False
2     True
3    False
dtype: bool

In [32]:
s2.notnull() # devuelve los notnull values

0     True
1     True
2    False
3     True
dtype: bool

In [33]:
s2[s2.notnull()] # devuelve los index y values de los notnull

0     5.0
1    -3.0
3    14.0
dtype: float64

In [34]:
s2[s2.isnull()]

2   NaN
dtype: float64

In [35]:
# create a series from a dictionary
mydict = {'red': 2000, 'blue': 1000, 'yellow': 500, 'orange': 1000} # key funciona como index 
myseries = pd.Series(mydict)
myseries

red       2000
blue      1000
yellow     500
orange    1000
dtype: int64

In [39]:
# para cambiar los valores de los índices se puede agregar un index al series
colors=['red','yellow','orange','blue','green']

myseries = pd.Series(mydict, index=colors)
myseries

red       2000.0
yellow     500.0
orange    1000.0
blue      1000.0
green        NaN
dtype: float64

In [42]:
#operaciones entre series
mydict2 = {'red':400,'yellow':1000,'black':700}
myseries2 = pd.Series(mydict2)
myseries3 = myseries + myseries2 # devuelve la suma de los valores que puede sumar, pero puede sumar red and yellow

In [43]:
myseries3[myseries3.notnull()]

red       2400.0
yellow    1500.0
dtype: float64